@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
/* Copy this @keyframes block to your CSS*/
@keyframes yourAnimation {
  0.0% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: scale(2);
  }
}
/* Add the animation: property to whichever element you want to animate */
#elementToAnimate:hover {
  animation: yourAnimation 2s ease 0s normal none;
  color: #DC3545;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  height: 100vh;
  margin: auto 0;
}

main {
  display: flex;
}

img {
  width: 190px;
  height: 190px;
  border-radius: 10px;
}

button {
  background: transparent;
  border: none;
  font-weight: 300;
}

.currentScoreBlock {
  padding: 10px 60px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
}

.globalScoreArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.1em;
  font-size: 8em;
  font-weight: 100;
}
.globalScoreArea h2 {
  font-size: 4rem;
  font-weight: 100;
}

.globalScore {
  font-size: 8rem;
}

.currentScore {
  font-size: 3em;
}

#playerOneArea {
  background: #E9ECEF;
}

#playerOneArea,
#playerTwoArea {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#diceColumn {
  background: transparent;
  position: absolute;
  height: 100vh;
  right: 40%;
  left: 40%;
  bottom: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8em;
}
#diceColumn svg {
  margin-right: 15px;
}

#options {
  display: flex;
  flex-direction: column;
}

#dice {
  border-radius: 10px;
  transition: all 0.3s;
}

#hold {
  margin-top: 50px;
}

#newGame:hover,
#rollDice:hover,
#hold:hover {
  scale: 1.1;
  font-weight: 400;
  transition: all 0.3s;
}

@media all and (max-width: 1100px) {
  img {
    width: 160px;
    height: 160px;
  }

  .globalScore {
    font-size: 6rem;
  }

  .globalScoreArea {
    font-size: 0.4rem;
  }
  .globalScoreArea h2 {
    font-size: 4rem;
  }

  #playerOneArea {
    padding-right: 100px;
  }

  #playerTwoArea {
    padding-left: 100px;
  }

  #diceColumn {
    right: 35%;
    left: 35%;
    font-size: 1.4em;
  }
  #diceColumn svg {
    margin-right: 10px;
  }
}
@media all and (max-width: 760px) {
  img {
    width: 150px;
    height: 150px;
  }

  .globalScore {
    font-size: 6rem;
  }

  .globalScoreArea {
    font-size: 0.2rem;
  }
  .globalScoreArea h2 {
    font-size: 2.5rem;
  }

  .currentScoreBlock {
    padding: 6px 45px;
  }

  #diceColumn {
    right: 30%;
    left: 30%;
  }
}
@media all and (max-width: 550px) {
  img {
    width: 130px;
    height: 130px;
  }

  .globalScore {
    font-size: 5rem;
  }

  .globalScoreArea {
    font-size: 0.1rem;
  }
  .globalScoreArea h2 {
    font-size: 1.6rem;
  }

  .currentScoreBlock {
    width: 90%;
  }

  #dice {
    position: absolute;
    bottom: 225px;
    left: 38%;
    right: 38%;
  }

  #diceColumn {
    width: 100vw;
    height: 20vh;
    right: 0;
    left: 0;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    padding: 50px;
    padding-bottom: 80px;
  }
  #diceColumn svg {
    margin-right: 8px;
  }

  #playerOneArea,
#playerTwoArea {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 40px;
  }

  #rollDice {
    display: none;
  }

  #hold {
    padding-bottom: 55px;
    padding-right: 20px;
  }

  #dice:hover {
    scale: 1.1;
    transition: all 0.3s;
  }
}
@media all and (max-width: 380px) {
  .globalScoreArea {
    font-size: 0.1rem;
  }
  .globalScoreArea h2 {
    font-size: 1.3rem;
  }

  .currentScoreBlock {
    width: 100%;
  }

  #diceColumn {
    padding-left: 20px;
  }

  #dice {
    left: 30%;
  }
}
@media all and (max-height: 751px) and (max-width: 500px) {
  #diceColumn {
    height: 3vh;
  }

  #dice {
    position: absolute;
    bottom: 130%;
    left: 35%;
    right: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
